.pink{
    background-color: pink;
}

.magenta{
    background-color: magenta;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

/* #fixed-top{
    height: 200px;
    width: 200px;
}

#fixed-bottom{
    height: 200px;
    width: 200px;
}

#sticky-top{
    height: 300px;
    width: 300px;
} */